<a href="https://colab.research.google.com/github/ucfilho/Machine_Learning_Study/blob/master/DataAnalysis/alcohol_age_Turing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!git clone https://github.com/ucfilho/Machine_Learning_DataSet #clonar do Github
%cd Machine_Learning_DataSet

Cloning into 'Data'...
remote: Enumerating objects: 53, done.
remote: Total 53 (delta 0), reused 0 (delta 0), pack-reused 53
Unpacking objects: 100% (53/53), done.
/content/Data

In [ ]:
# Percentage of alcool after 50 is higher than 5%?

In [ ]:
Nome = 'cardio_alco.csv'
df = pd.read_csv(Nome,delimiter=';')

In [ ]:
df.head()

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0

In [ ]:
idade50 = df[(df['id'] >50) ]
idade50.describe()

                 id          alco
count  56898.000000  56898.000000
mean   48476.417572      0.053447
std    30992.158688      0.224924
min       51.000000      0.000000
25%    20409.750000      0.000000
50%    40767.500000      0.000000
75%    77110.750000      0.000000
max    99954.000000      1.000000

In [ ]:
# Percentage of alcool after 50 is higher than 5%? True 5.34%

In [ ]:
sum(idade50['alco'].values)/56898*100

5.344651833104854

In [ ]:
df.describe()

                 id          alco
count  56903.000000  56903.000000
mean   48472.162065      0.053442
std    30994.121701      0.224915
min       44.000000      0.000000
25%    20401.000000      0.000000
50%    40763.000000      0.000000
75%    77109.500000      0.000000
max    99954.000000      1.000000